:root {
  --primary-color: #e24a4a;
  --secondary-color: #333333;
  --background-color: #f5f5f5;
  --background-color-2: #fffcfa;
  --background-color-3: #e0e0e0;
  --text-color: #333333;
  --secodary-text-color: #666666;
  --link-color: #e24a4a;
  --link-color-hover: #b83535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--secondary-color);
  line-height: 1.6;
}

header {
  background-color: var(--background-color-2);
  padding: 20px;
  text-align: center;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

nav ul li a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
}

nav ul li a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

section {
  padding: 20px;
  margin: 20px 0;
  background-color: var(--background-color-3);
  border-radius: 20px;
}

section h1 {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

section h2 {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

section p {
  font-size: 1rem;
  color: var(--secodary-text-color);
}

footer {
  background-color: var(--background-color-2);
  text-align: center;
  padding: 10px 0;
}

footer p {
  color: var(--text-color);
  font-size: 1rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}
